body {
    background: linear-gradient(to right, #9796f0, #fbc7d4);
}

#currentPage {
    text-decoration: underline;
}

.infoBox{
  position: relative;
  text-align: center;
  font-size: 25px;
  width: 800px;
}

.infoWrapper{
  top: 200px;
  position: absolute;
}
