* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: linear-gradient(to right, #9796f0, #fbc7d4);
  height: 100vh;
}

.howBox {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  margin-top: 100px;
}

#howBoxes {
  justify-items: center;
  display: grid;
  grid-template-columns: auto auto auto;

}

.howHeadline{
  width: 435px;
  font-size: 25px;
}

.howBoxText{
  width: 435px;
  font-size: 30px;
}

img {
  height: 335px;
  width: 435px;
  top: 100px;
}
