* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: linear-gradient(to right, #9796f0, #fbc7d4);
  height: 100vh;
}

.howBox {
  position: relative;
  align-self: center;
  text-align: center;
  height: 250px;
  width: 250px;
  margin-left: 10px;
  top: 100px;
}


#howBoxes {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

img {
  height: 90px;
  width: 90px;
  top: 100px;
}
